body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100vw;
    max-height: 100vh;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img{
    object-fit: cover;
    width: 100vw;
    max-height: 100vh;
}

iframe{
    object-fit: cover;
    width: 100vw;
    max-height: 100vh;
}