html{
    margin: 0%;
    border: 0%;
}

.container{
    display: flex;
    margin: 0%;
    border: 0%;
}

iframe {
    min-width:40svw;
    height:100svh;
}

img {
    min-width:60svw;
    height:auto
}